.button {
    color: rgb(199,73,58);
    border: 1px solid rgb(199,73,58) ;
}

.button:hover {
    background-color: black;
    border-color: rgb(163,51,39);
    color: rgb(163,51,39);
    transition: all 0.5s ease-in-out;
    transform: scale(1.05);
}

.link-styles {
    color: rgb(228, 228, 228);
    margin-left: 80px;
    font-weight: bold;
}

.link-styles:hover {
    color: rgb(199,73,58);
}

#active {
    color: rgb(199,73,58);
}

#navbar {
    width: 100%;
    background-color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
}

a:hover {
    transition: all 0.5s ease-in-out;
    color: rgb(199,73,58);
}

#contact {
background-color: rgba(199,73,58,1);
color: white;
padding: 3px;
padding-left: 15px;
padding-right: 15px;
border-radius: 15px;
transition: all 0.3s ease 0s;
}

#contact:hover {
background-color: rgba(199,73,58,0.8);
}

/*  End of Nav styles   */


p {
padding: 5px;
}


/* https://stackoverflow.com/questions/24749399/centering-an-hr-tag */
hr {
    color: rgba(104,151,117,0.3);
    width: 70%; 
    margin-left:15% !important; 
    margin-right:15% !important;
}

h1 {
    color: rgb(199,73,58);
}

span {
    color: rgb(104,151,117);
}

#rowfooter1 {     
position: fixed;
background-color: rgb(0, 0, 0);
bottom: 0%;
width: 100%;
height: 125px;
}
#seanimg {
    width: 425px; 
    height: 425px;
    border-radius: 225px;
    filter: brightness(60%);
    margin-top: 100px;
}


html, section {
    height: 100%;
    color: rgb(207, 206, 206);
    background: rgba(0, 0, 0, 0.801) url(../images/Space3.jpg);
    background-blend-mode: darken;
}

#wrapper {
    padding: 0%; 
    width: 100%;
}

#copyright {
    padding-top: 12px;
}

