.nav-link {
    color: rgb(228, 228, 228);
    margin-left: 80px;
    font-weight: bold;
}

.navbar {
    background-color: rgb(9, 9, 9);
}

.active , .nav-link:hover {
    color: cyan;
}

a {
    color: rgb(158,184,191);
    text-decoration: none;

}

a:hover {
    transition: all 0.5s ease-in-out;
    color: cyan;
}

#contact {
background-color: rgba(0, 136, 169, 1);
padding: 3px;
padding-left: 15px;
padding-right: 15px;
border-radius: 15px;
transition: all 0.3s ease 0s;
}

#contact:hover {
background-color: rgba(0, 136, 169, 0.8);
}

/*  End of Nav styles   */
body {
background-color: rgb(5, 5, 5);
color: white;
}

#rowfooter1 {     
position: fixed;
bottom: 0%;
width: 100%;
}

/*  Buttons  */
.btn {
color: cyan;
}

.btn-outline-light , .btn{
color: cyan;
border-color: cyan;
}

.btn:hover {
background-color: black;
border-color: cyan;
color: cyan;
transition: all 0.5s ease-in-out;
transform: scale(1.05);
}
