body {
    background-color: rgb(5, 5, 5);
    padding-left: 15px;
    padding-right: 15px;
}

.nav-link {
    color: rgb(228, 228, 228);
    margin-left: 80px;
}

.navbar {
    background-color: rgb(9, 9, 9);
}

.active , .nav-link:hover {
    color: rgb(22, 252, 71);
}

.btn-outline-light , .btn{
    color: rgb(32, 216, 72);
    border-color: rgb(32, 216, 72);
}

h1 {
    color: rgb(22, 252, 71);
    position: absolute;
    top: 350px;
    left: 170px;
}

#name {
    color: white;
    font-size: 22px;
    position: absolute;
    top: 325px;
    left: 175px;
}

a {
    color:rgb(32, 216, 72);
    text-decoration: none;

}

a:hover {
    color:rgb(32, 216, 72);

}

.btn:hover {
    color: rgb(32, 216, 72)
}

#info {
    font-size: 16px;
    position: absolute;
    top: 500px;
    left: 175px;
}

#brief {
    color: white;
    font-size: 22px;
    position: absolute;
    top: 460px;
    left: 175px;
}

#seanimg {
    position: absolute;
    top: 200px;
    left: 1200px;
    border-radius: 250px;
    filter: brightness(70%);
}

#rowfooter1 {     
    position: fixed;
    bottom: 0%;
    width: 100%;
}

#contact {
    background-color:rgb(32, 216, 72);
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
}

#contacta:hover {
    color: white;
}
