
    
            
             /*   Learn't how to darken an image from this website https://www.delftstack.com/howto/css/darken-background-image-css/ */
             html, section {
                color: white;
                height: 100%;
                background: rgba(0, 0, 0, 0.801) url(../images/Space3.jpg);
                background-blend-mode: darken;
            }

            #navbar {
                width: 100%;
            }
            
            
            a {
                text-decoration: none;
            }
    
            a:hover {
                transition: all 0.5s ease-in-out;
                color: rgb(199,73,58);
            }
    
            #contact {
            background-color: rgba(199,73,58,1);
            padding: 3px;
            padding-left: 15px;
            padding-right: 15px;
            
            border-radius: 15px; 
            transition: all 0.3s ease 0s;
            }

            #contact:hover {
            background-color: rgba(199,73,58,0.8);
            }

            /*  End of Nav styles   */

            #wrapper {
                padding: 0%;
            }
           
             h1 {
                font-size: 70px;
                text-align: center;
                color: rgb(199,73,58);
             }

            #intro {
                margin-top: 250px; 
                font-size: 30px; 
                text-align: center;
            }

            #aspiring {
                font-size: 20px; 
                text-align: center; 
                color: rgb(207, 206, 206);
            }



            #rowfooter {     
                position: fixed;
                background-color: rgb(0, 0, 0);
                bottom: 0%;
                width: 100%;
             }

             .mainsection {
                 width: 100%;
             }

            .moreinfop {
                font-size: 18px; 
                text-align: center;
                color: rgb(163,51,39);
            }

            #info {
                color: rgb(163,51,39);
                text-decoration: none;
            }

            .icondiv {
                padding-right: 0%;
                padding-left: 0%;
            }

            .copyright {
                padding-top: 12px;
            }

    
